.footer {
    padding-top: 50px;
    padding-bottom: 52px;
    background-color: #07092B;

    @media (max-width: 1230px) {
        padding-top: 20px;
        padding-bottom: 31px;
    }
}

.footer__upper {
    display: flex;
    justify-content: space-between;

    @media (max-width: 1230px) {
        margin-bottom: 23px;
    }
}

.footer__row {
    width: 24%;

    @media (max-width: 1230px) {
        width: 40%;
    }
}

.footer__row-mid {

    @media (max-width: 1230px) {
        display: none;
    }
}

.footer__menu {

    @media (max-width: 1230px) {
        display: none;
    }
}

.footer__title {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    color: #36FFC3;

    @media (max-width: 1230px) {
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 5px;
    }
}

.footer__desc {
    margin: 0;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    opacity: 0.8;

    @media (max-width: 1230px) {
        font-size: 7px;
        line-height: 9px;
    }
}

.footer__desc-link {
    color:  #FF5F1B;
    text-decoration: none;
    border-bottom: 1px solid #FF5F1B;
}

.footer__nav {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        margin-bottom: 1em;

        &:last-child {
            margin-bottom: 0;
        }

        a {
            text-decoration: none;
            color: #fff;

            &:hover {
                color:#FF962C;

            }
        }
    }
}

.footer__lower {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;

    @media (max-width: 1230px) {
        flex-direction: row-reverse;
        align-items: flex-start;
        margin-bottom: 37px;
    }
}

.footer__lower-row {
    width: 40%;
}

.footer__img-wrap {

    br {
        display: none;

        @media (max-width: 1230px) {
            display: block;
        }
    }

    img {
        margin-right: 57px;

        &:last-child {
            margin-right: 0;
        }

        @media (max-width: 1230px) {
            width: 56px;
            height: 56px;
            margin-bottom: 10px;
            margin-right: 10px;

            &:nth-last-child(1) {
                margin-bottom: 0;
            }
            &:nth-last-child(2) {
                margin-bottom: 0;
            }
        }
    }

    @media(max-width: 1230px) {
        flex-wrap: wrap;
    }
}

.rectangle {

    @media (max-width: 1230px) {
        height: 29px !important;
    }
    
}

.footer__copyright {
    margin: 0;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    opacity: 0.7;
    text-align: center;

    @media (max-width: 1230px) {
        font-size: 10px;
        line-height: 12px;
        font-weight: 400;
    }
}